
@{
    ViewBag.Title = "KisiEkle";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<p align="center" style="padding:2% 0;">mekan stok</p>

<div class="container-fluid d-flex justify-content-center">


    <form>

        <div class="form-group row">
            <label class="col-xs-3 col-form-label mr-2">mekan: </label>
            <div class="col-xs-9">
                <select id="mekan_id" class="form-control" data-live-search="true"></select>
            </div>
        </div>

    </form>
</div>

<div class="container clearfix" id="urunTablo">
    <table class="table">
        <thead class="thead-dark">
            <tr>
                <th scope="col">depo adı</th>
                <th scope="col">adı</th>
                <th scope="col">fiyatı</th>
                <th scope="col">grubu</th>
                <th scope="col">miktar</th>
            </tr>
        </thead>

        <tbody id="urunler"></tbody>
    </table>
</div>

</div>

<script>



    $(document).ready(function () {

        $.ajax({
            type: "GET",
            url: "/Home/GetMekan",
            dataType: "json",
            success: function (returnedData) {

                var data2 = returnedData.data;

                var s = '<option value="-1"disabled selected>durum seçiniz</option>';
                for (var i = 0; i < data2.length; i++) {
                    s += '<option value="' + data2[i].id + '">' + data2[i].ad + '</option>';
                }

                $("#mekan_id").html(s);

            }
        });
    });

    $("#mekan_id").change(function () {
        debugger;
        alert($("#mekan_id").val());
        var model = {
            "id": $("#mekan_id").val()
        };

        $.ajax({
            type: "GET",
            url: "/Home/GetMekanStok",
            data: model,
            dataType: "json",
            success: function (returnedData) {

                var data = returnedData.data;
                var s;

                console.log(returnedData);
                console.log(data);

                for (var i = 0; i < data.length; i++) {
                    s += '<tr>' +
                        '<td>' + data[i].depoAdi + '</td>' +
                        '<td>' + data[i].ad + '</td>' +
                        '<td>' + data[i].fiyat + '</td>' +
                        '<td>' + data[i].grup + '</td>' +
                        '<td>' + data[i].miktar + '</td>' +
                        '</tr>';
                }

                $("#urunler").html(s);
            }
        });
    });



</script>